* {
	margin: 0;
	padding: 0;
}
html, body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background: url(../img/2588.jpg) center center / cover; 
	height: 100%;
	position: relative;
	overflow: hidden;
}
		div::-webkit-scrollbar {width: 0em;}
		div::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 0px rgba(185,156,97,0.6);
		    border-radius: 10px;}
		div::-webkit-scrollbar-thumb {
		    border-radius: 10px;
		    -webkit-box-shadow: inset 0 0 6px rgba(185,156,97,0.9);}
		div::-webkit-scrollbar-corner {
		  background: none;}
		.wrapper {
		  display: flex;
		  flex-direction: column;
		  height: 100%;
	      background: rgba(247, 247, 247, 0.1);
	 }

.main {
    width: 45em;
    flex-grow: 1;
    align-items: center;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
	
/*окно ввода логина и пароля*/
			.screenupflex {
				width: 18em;
				height: 100%;
				position: center;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				margin: 0px auto;
				background-color: rgba(28, 28, 28, 0.1);
				border-radius: 6px;


			}
						#enter {
							letter-spacing: 1px;
							font-size: 25px;
							color: black;
							margin-bottom: 0.55em;
							margin-top: 0.55em;

						}
									
				#EEmail1 {
					margin-top: 0em;
				}
			
				.enterbtn {
					padding: 8px;
					width: 4.6em;
					text-align: center;
					background: white;
					color: #1C1815;
					border-radius: 6px;
					display: block;
					text-decoration: none;
					letter-spacing: 1px;
					font-size: 15px;
					margin-top: 0.9em;
					margin-bottom: 1em;
					}
				
			.two {
				background: none;
			}
			.twotwo {

				letter-spacing: 1px;
							font-size: 25px;
							color: white;
							margin-bottom: 0.55em;
							margin-top: 0.55em;
							text-decoration: none;
							opacity: 0;

						
			}
			.twotwoa {
				letter-spacing: 1px;
				font-size: 25px;
				color: white;
				margin-bottom: 0.55em;
				margin-top: 0.55em;
				text-decoration: none;
				opacity: 0;

			}
			.one {
				display: flex;
				flex-direction: row;


			}
			p, a {
				padding: 0;
				margin: 0;
			}
			#EEmail1, #EPassword {
				font-size: 12px;
				padding: 5px 10px 5px 10px;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}





@media  screen and (min-width: 0px) and (max-width: 414px) {
		
	 .main {
	 	width: 360px;
	  }
	}