* {
	margin: 0;
	padding: 0;
}
html, body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
footer, header {
  flex: 0 0 auto;
  background: rgba(28, 28, 28, 1);
  border-width: 1px;
  overflow: auto;
}

footer {
  border-top-color: rgba(252, 213, 133, 0.5);
  border-top-style: solid;
}
	.menu {
 	width: 100%;
	padding-bottom: 0.7vh;
 	padding-top: 0.7vh;
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	justify-content: center;
 	background-color: #2d2727;
 	border-bottom-color: rgba(252, 213, 133, 0.5);
 	border-bottom-width: 1px;
 	border-bottom-style: solid;
 	flex-wrap: wrap;
 	margin: 0 auto;
 	position: fixed;
}
	.menuin {
    	height: 5%;
		color: rgba(45,39,39, 0.8);
		visibility: hidden;
	}
		.menudata {
		 	display: flex;
		 	flex-direction: row;
		 	align-items: center;
		 	justify-content: space-between;
		 	flex-wrap: wrap;
		 	min-width: 50vw;
		 	max-width: 100vw;
		 	flex-wrap: nowrap;
 		}
			.logo {
		 	 	display: flex;
		 	 	flex-direction: row;
		 	 	align-items: center;
		 	 	justify-content: center;
		 	 	color: #ffda8f;
		 	 	position: relative;
		 	}
				
		 		.logobar {
			 		width: 4.5em;
			 	}
			 	.logotext {
			 	 	margin-left: 0.4em;
			 	}
				 #Boozer {
				 	font-size: 23px;
				 }
				 .link-spanner{
						position:absolute; 
						width:100%;
						height:100%;
						top:0;
						left: 0;
						z-index: 1;
					}
		  	.menutext {
		  		flex-wrap: nowrap;
		  		margin-left: 5vw;
		  		width: 60%;
			 	display: flex;
			 	flex-direction: row;
			 	align-items: center;
			 	justify-content: flex-end;
				color: #ffda8f;
			}
			.menulist {
				display: flex;
				flex-direction: row;
				margin-left: 1vw;
				margin-right: 1vw;
			}
			#menu1, #menu2, #menu3, #menu4, #menu5, #menu6, #login {
				text-decoration: none;
				color: #454241;
				white-space: pre;
			}
			#menu1, #menu5 {
				color: #ffda8f;
			}

			#login {
				padding: 5px 20px 5px 20px;
				border: 1px solid #ffda8f;
				border-radius: 20px;
				background: #ffda8f;
				color: #2d2727;
			}
/*******************************************************Menu end********************************/
 .main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
}
.data {
	width: 50vw;
	display: flex;
	flex-wrap: wrap;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0px auto;
	margin-top: 80px;
	color: rgba(45,39,39,1);
	background-color: rgba(255, 218, 143, 0.1);
	padding-left: 1vw;
	padding-right: 1vw;
	box-sizing: border-box;
}
ol.politics {
	
	margin-left: 2em;
	margin-top: 2em;
	font-size: 16px;

	text-decoration: none; 
}
li {
	text-decoration: none;
	margin-top: 0.5em;
}
h1 {
	margin-top: 2em;
	margin-bottom: 1em;
	font-weight: normal;
	color: rgba(45,39,39,1);
}
h2 {
	margin-bottom: 1em;
	margin-top: 1em;
	font-weight: normal;
	color: rgba(45,39,39,1);
}
h3 {
	margin-bottom: 1em;
	margin-top: 1em;
	font-weight: normal;
	color: rgba(45,39,39,1);

}
.data p {
	max-width: 95vw;
	text-indent: 1em;
	text-align: justify;
	margin-top: 1em;
	line-height: 1.5;
}
.listin {
	margin-left: 3em;
}
	.enter {
		margin-top: 2em;
	}
	.appprinciples {
		margin-bottom: 0em;
		padding-top: 4vh;
	}
	.Terms {
		padding-top: 4vh;
		margin-bottom: 0em;
	}

	.Privacy {
		padding-top: 4vh;
		margin-bottom: 0em;
	}

	.Cookie {
		padding-top: 4vh;
		margin-bottom: 3em;

	}







































.lowbar {
  bottom: 0;
  padding: 0.5em;
  float: button;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(28, 28, 28, 1);
}
	#copyright {
		color: #f6d586;
		font-size: 15px;
	}